* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: "Times New Roman", Times, serif;
}
header {
  .marquee {
    height: 10rem;
    width: 85rem;
    background-color: #7d7373;
    margin: 2rem auto;
    border-radius: 1rem;
    display: flex;
    align-items: center;
  }
  .marquee marquee {
    font-size: 3.2rem;
    color: white;
    font-family: cursive;
    text-transform: uppercase;
  }
  /* *==================================== section marque End ======================================   */
  .banner {
    height: 40rem;
    width: 85rem;
    margin: 10rem auto 0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #7d7373;
    background-image:
      linear-gradient(0deg, #00000085 0%, rgba(8, 10, 30, 0.544) 100%),
      url(./image/Banner\ Image.png);
    background-position: center;
    background-size: cover;
    /* filter: brightness(60%); */
  }
  .banner p {
    margin: 2.6rem;
    font-size: 2rem;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
  }
  .banner h1 {
    margin-top: -1.5rem;
    font-size: 4.8rem;
    text-align: center;
    color: white;
    font-family: "Times New Roman", Times, serif;
  }
  /* *==================================== section banner End ======================================   */
}
/* *==================================== Header End ======================================   */
main {
  width: 85rem;
  margin: auto;

  .deal_offer {
    width: 85rem;
    height: 55rem;
    /* background-color: blueviolet; */
    margin: 10rem auto 0;
    border-radius: 1rem;
    background: linear-gradient(0deg, #ff937800 0%, #ff535359 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;

    h1 {
      font-size: 5.5rem;
      color: red;
      margin: 3.685rem 0 -1rem;
    }
    p {
      font-size: 15px;
      color: red;
      margin: 2.51rem 0 -1.5rem;
    }
    h2 {
      color: #070211;
      font-size: 3rem;
      margin: 2.49rem 0;
    }
    img {
      width: 50rem;
    }
  }
  /* *==================================== deal_offer section End ======================================   */
  .party {
    width: 85rem;
    height: 40rem;
    background-color: coral;
    margin: 10rem auto 0;
    border-radius: 1rem;
    background-image:
      linear-gradient(60deg, #07020eda 0%, rgb(4 1 9 / 15%) 100%),
      url(./image/Vectorrr.png);
    background-size: cover;
    display: grid;
    grid-template-columns: 58rem 27rem;

    .item_1 {
      color: white;
    }
    .item_1 h1 {
      font-size: 5rem;
      margin: 7rem 0 3.35rem 7rem;
    }
    .item_1 p {
      font-size: 1.3rem;
      margin: 1.3rem 0 1.3rem 7rem;
    }
    .item_1 a {
      color: white;
      font-size: 1.2rem;
      margin: 3rem 0 2.04rem 11rem;
      font-weight: 500;
    }
    .item_2 {
      display: grid;
      place-items: center;
    }
    .item_2 img {
      width: 21rem;
    }
  }
  /* *==================================== party section End ======================================   */
  .pdt {
    width: 85rem;
    height: 40rem;
    background: linear-gradient(0deg, #ff575700 0%, rgb(255 85 85 / 36%) 100%);
    margin: 10rem auto 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: #070211;
    text-align: center;
    & span {
      color: #ff0000;
    }
    & P {
      font-size: 1.8rem;
    }
    .item_box {
      position: relative;
      top: 20%;
    }
    .item_box .item_1 {
      margin: 1.8rem 0;
      padding: 2rem 0 0;
    }
    .item_box .item_2 {
      margin: -3rem 0;
      padding: 2rem 0 0;
    }
    .item_box .item_3 {
      margin: 1.8rem 0;
      padding: 2rem 0 0;
    }
    .item_box .j_btn {
      position: relative;
      top: 30%;
      font-size: 1rem;
      width: 10.5rem;
      padding: 1.2rem;
      background-color: #ff0000;
      color: white;
      font-weight: 700;
      border: none;
      outline: none;
      border-radius: 1rem;
      font-family: "Times New Roman", Times, serif;
      cursor: pointer;
    }
  }
  /* *==================================== Place Date Time section End ======================================   */
  .offer_24 {
    width: 85rem;
    height: 40rem;
    background: linear-gradient(0deg, #ff7c7c86 0%, rgb(255 85 85 / 0%) 100%);
    margin: 10rem auto 0;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    text-align: center;
    .item_1 {
      .box_1 {
        font-size: 1.5rem;
        margin: 1.5rem 0;
        color: #ff0000;
      }
      .box_2 {
        color: #070211;
        font-size: 3rem;
        margin: -0.5rem 0;
      }
      .box_3 {
        font-size: 1.5rem;
        color: #07021199;
        margin: 1.5rem;
      }
    }
    .item_2 {
      & img {
        width: 25rem;
        padding: 3rem;
        border: 1rem solid red;
        border-radius: 50%;
      }
    }
    .item_3 {
      & h2 {
        color: red;
        font-size: 3.5rem;
        margin: 3rem;
      }
      & p {
        font-size: 1.5rem;
        color: #07021199;
        margin: -2rem -1.5rem 1.5rem 0;
      }
    }
  }
  /* *==================================== offer_24 section End ======================================   */
  .function {
    height: 25rem;
    background-color: #fea9a92b;
    /* background-color: #FF0000; */
    color: #000;
    margin-top: 10rem;
    border-radius: 1rem 1rem 18rem 18rem;
    border: 2px dashed lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .item_1 {
      font-size: 1.7rem;
      margin: 1.7rem 0;
      padding: 2rem 0 0;
      color: #070211;
      font-weight: 600;
    }
    h1 {
      font-size: 4.8rem;
      color: #070211;
      margin: 0 0 3.216rem;
      & span {
        color: #ff0000;
      }
    }
    .item_3 {
      font-size: 1.5rem;
      color: #07021199;
      margin: 1.5rem 10rem;
    }
  }
  /* *==================================== function section End ======================================   */
  .discount {
    height: 40rem;
    margin-top: 10rem;
    /* background-color: #7d7373; */
    border-radius: 1rem;
    .item_1 {
      position: relative;
      .image_1 {
        width: 100%;
        position: relative;
        top: 25.25rem;
      }
      .image_2 {
        width: 50rem;
        position: relative;
        bottom: 17rem;
        left: -10px;
      }
      .image_3 {
        width: 25rem;
        position: absolute;
        right: 0;
        top: 1px;
      }
      .image_4 {
        width: 20rem;
        position: absolute;
        top: 3rem;
      }
    }
  }
  /* *==================================== discount section End ======================================   */
}
