*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;


}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
header{
    .marquee{
        height: 10rem;
        width: 85rem;
        background-color: #7d7373;
        margin: 2rem auto;
        border-radius: 1rem;
        display: flex;
        align-items: center;
    }
    .marquee marquee{
        font-size: 3.2rem;
        color: white;
        font-family: cursive;
        text-transform: uppercase;
    }
     /* *==================================== section marque End ======================================   */
}

 /* *==================================== Header End ======================================   */