*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;


}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    font-family: 'Times New Roman', Times, serif;
}